# Imports some basics for checking how the dataset looks

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

# Now load the dataset

In [2]:
filepath=r'C:\Users\HP\PW skills\SELF placed\Machine Learning\projects\Mini Hackathon!\data\raw\survey.csv'
df = pd.read_csv(filepath)

# Head to check first 5 row of dataset

In [3]:
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [4]:
df.shape

(1259, 27)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

# info to ckeck data type of each columns

# By seeing the dataset firstly we have to drop some columns which don't be used in creating the machine learning model

In [6]:
df = df.drop(columns=['Timestamp','comments','state'],axis=1)

# I remove Timestamp as it is classification dataset not the Date and Time dataset
# As their is no use of comments in the machine learning model
# state as we have the country in which the employ work so their is no use of state

In [7]:
df.head()

,Age,Gender,Country,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,Female,United States,NaN,No,Yes,Often,6-25,No,Yes,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,44,M,United States,NaN,No,No,Rarely,More than 1000,No,No,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,32,Male,Canada,NaN,No,No,Rarely,6-25,No,Yes,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,31,Male,United Kingdom,NaN,Yes,Yes,Often,26-100,No,Yes,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,31,Male,United States,NaN,No,No,Never,100-500,Yes,Yes,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No

# Now checking missing values in the dataset

In [8]:
df.isnull().sum()

Age                            0
Gender                         0
Country                        0
self_employed                 18
family_history                 0
treatment                      0
work_interfere               264
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
dtype: int64

# drop the row which have null values

In [9]:
df.dropna(inplace=True)

In [10]:
df.shape

(977, 24)

# Now converting the object datatype to int datatype as machine only understand 0,1

In [11]:
df['Gender'].value_counts()

Gender
Male                                              471
male                                              156
Female                                            103
M                                                  85
female                                             51
F                                                  31
m                                                  23
f                                                  13
Make                                                4
Male                                                3
Female (trans)                                      2
Female                                              2
Cis Male                                            2
Mal                                                 1
Trans woman                                         1
Cis Man                                             1
femail                                              1
Woman                                               1
p                                                   1
Malr                                                1
A little about you                                  1
cis male                                            1
Mail                                                1
Female (cis)                                        1
queer                                               1
Male-ish                                            1
Neuter                                              1
msle                                                1
Trans-female                                        1
queer/she/they                                      1
male leaning androgynous                            1
Guy (-ish) ^_^                                      1
cis-female/femme                                    1
Agender                                             1
Androgyne                                           1
Cis Female                                          1
Genderqueer                                         1
fluid                                               1
Enby                                                1
All                                                 1
Nah                                                 1
woman                                               1
non-binary                                          1
ostensibly male, unsure what that really means      1
Name: count, dtype: int64

In [12]:
df['Gender'].unique()

array(['male', 'Male', 'Female', 'female', 'M', 'm', 'Male-ish',
       'Trans-female', 'Cis Female', 'F', 'Cis Male', 'f', 'Mal',
       'queer/she/they', 'non-binary', 'woman', 'Make', 'Nah', 'All',
       'Enby', 'fluid', 'Genderqueer', 'Female ', 'Androgyne', 'Agender',
       'cis-female/femme', 'Guy (-ish) ^_^', 'male leaning androgynous',
       'Male ', 'Trans woman', 'msle', 'Neuter', 'Female (trans)',
       'queer', 'Female (cis)', 'Mail', 'cis male', 'A little about you',
       'Malr', 'p', 'Woman', 'femail', 'Cis Man',
       'ostensibly male, unsure what that really means'], dtype=object)

In [13]:
df.shape

(977, 24)

In [14]:
df['Gender']= df['Gender'].map({'male':'Male','Male':'Male','M':'Male','Male-ish':'other','Cis Male':'Male','Mal':"Male",'non-binary':"other",
                    'Make':'other',"Nah":"other","Enby":"other","fluid":"other",'All':'other','Genderqueer':"other",
                    'Guy (-ish) ^_^':"other",'Androgyne':"other",'Agender':"other",'cis-female/femme':'other','male leaning androgynous':"other",
                    'Male ':'Male','Trans woman':'other','msle':'other','Neuter':'other','Female (trans)':'other','queer':'other',
                    'Female (cis)':'other','Mail':"Male",'cis male':"other",'A little about you':"other",'Malr':'Male','p':'other',
                    'Cis Man':'Male','ostensibly male':"other",'unsure what that really means':"other",'Female':'Female','female':'Female','m':'Male',
                    'Trans-female':'other','Cis Female':'other','F':'Female','f':'Female','queer/she/they':'other','woman':'Female','Female ':'Female',
                    'Trans woman':'other','Female (trans)':'other','Female (cis)':'other','Woman':'Female','femail':'Female'
                    })

by using map function we make 3 category of gender
- male 
- female 
- other

In [15]:
df['Gender'].value_counts()

Gender
Male      744
Female    203
other      29
Name: count, dtype: int64

In [16]:
df['Gender']=df['Gender'].fillna('other')

In [17]:
df['Gender'] = df['Gender'].map({'Male': 0,'Female': 1,'other':2})

In [18]:
df['Gender'].value_counts()

Gender
0    744
1    203
2     30
Name: count, dtype: int64

Now using map function make the 
Male as 0
Female as 1
other as 2

In [19]:
df['Gender'].info

<bound method Series.info of 18      0
20      0
21      0
22      0
23      0
       ..
1252    0
1253    0
1255    0
1256    0
1258    0
Name: Gender, Length: 977, dtype: int64>

In [20]:
df['Age'].unique()

array([         46,          29,          31,          41,          33,
                35,          34,          37,          32,          30,
                42,          40,          27,          24,          18,
                38,          26,          22,          44,          23,
                36,          28,          39,          25,          45,
                21,          19,          43,          56,          54,
               329,          55, 99999999999,          57,          58,
                48,          47,          62,          51,          50,
                49,          20,       -1726,          53,          61,
                 8,          11,          -1,          72,          60],
      dtype=int64)

In [22]:
df['Country'].value_counts()

Country
United States             596
United Kingdom            139
Canada                     59
Germany                    33
Ireland                    23
Australia                  20
Netherlands                19
New Zealand                 8
Poland                      7
Italy                       6
South Africa                5
Switzerland                 5
Sweden                      5
India                       5
Singapore                   4
Brazil                      4
Belgium                     4
France                      4
Israel                      3
Finland                     2
Bulgaria                    2
Denmark                     2
Russia                      2
Croatia                     2
Mexico                      2
Colombia                    2
Thailand                    1
Moldova                     1
Bahamas, The                1
China                       1
Czech Republic              1
Georgia                     1
Austria                     1
Japan                       1
Hungary                     1
Bosnia and Herzegovina      1
Zimbabwe                    1
Portugal                    1
Slovenia                    1
Philippines                 1
Name: count, dtype: int64

In [25]:
df['Country'].unique()

array(['United States', 'United Kingdom', 'Canada', 'Netherlands',
       'Poland', 'Australia', 'France', 'Germany', 'Mexico', 'Brazil',
       'Slovenia', 'Ireland', 'India', 'South Africa', 'Russia', 'Italy',
       'Colombia', 'Portugal', 'Switzerland', 'Belgium', 'Sweden',
       'New Zealand', 'Zimbabwe', 'Finland', 'Israel',
       'Bosnia and Herzegovina', 'Austria', 'Hungary', 'Singapore',
       'Japan', 'Bulgaria', 'Croatia', 'Thailand', 'Denmark',
       'Bahamas, The', 'Moldova', 'Georgia', 'China', 'Czech Republic',
       'Philippines'], dtype=object)

In [26]:
df['Country'] = df['Country'].map({'United States':1, 'United Kingdom':2, 'Canada':3, 'Netherlands':4,
                                    'Poland':5, 'Australia':6, 'France':7, 'Germany':8, 'Mexico':9, 'Brazil':10,
                                    'Slovenia':11, 'Ireland':12, 'India':13, 'South Africa':14, 'Russia':15, 'Italy':16,
                                    'Colombia':17, 'Portugal':18, 'Switzerland':19, 'Belgium':20, 'Sweden':21,
                                    'New Zealand':22, 'Zimbabwe':23, 'Finland':24, 'Israel':25,
                                    'Bosnia and Herzegovina':26, 'Austria':27, 'Hungary':28, 'Singapore':29,
                                    'Japan':30, 'Bulgaria':31, 'Croatia':32, 'Thailand':33, 'Denmark':34,
                                    'Bahamas, The':35, 'Moldova':36, 'Georgia':37, 'China':38, 'Czech Republic':39,
                                    'Philippines':40})

In [27]:
df.head()

,Age,Gender,Country,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
18,46,0,1,Yes,Yes,No,Sometimes,1-5,Yes,Yes,...,Yes,Very easy,No,No,Yes,Yes,No,Yes,Yes,Yes
20,29,0,1,No,Yes,Yes,Sometimes,100-500,No,Yes,...,No,Somewhat difficult,Maybe,No,Some of them,Some of them,No,No,No,No
21,31,0,1,Yes,No,No,Never,1-5,Yes,Yes,...,Yes,Somewhat difficult,No,No,Some of them,Some of them,No,Maybe,Yes,No
22,46,0,1,No,No,Yes,Often,26-100,Yes,Yes,...,Don't know,Don't know,Maybe,No,Some of them,Yes,No,Maybe,No,No
23,41,0,1,No,No,Yes,Never,More than 1000,No,No,...,Don't know,Don't know,Maybe,No,No,No,No,Yes,Don't know,No

In [28]:
df['self_employed'].unique()

array(['Yes', 'No'], dtype=object)

In [29]:
df['self_employed']= df['self_employed'].map({'Yes':1,'No':0})

In [30]:
df['family_history'].unique()

array(['Yes', 'No'], dtype=object)

In [31]:

df['family_history']= df['family_history'].map({'Yes':1,'No':0})

In [32]:
df['treatment'].unique()

array(['No', 'Yes'], dtype=object)

In [33]:
df['treatment']= df['treatment'].map({'Yes':1,'No':0})

In [34]:
df['work_interfere'].unique()

array(['Sometimes', 'Never', 'Often', 'Rarely'], dtype=object)

In [35]:
df['work_interfere']= df['work_interfere'].map({'Rarely':'Rarely','Sometimes':'Rarely','Often':'Rarely','Never':'Never'})

as sometimes , rarely ,often all means same

In [36]:
df['work_interfere'].unique()

array(['Rarely', 'Never'], dtype=object)

In [37]:
df['work_interfere'] = df['work_interfere'].map({'Rarely':1,'Never':0})

In [38]:
df['work_interfere'].value_counts()

work_interfere
1    770
0    207
Name: count, dtype: int64

In [39]:
df['no_employees'].unique()

array(['1-5', '100-500', '26-100', 'More than 1000', '6-25', '500-1000'],
      dtype=object)

In [40]:
df['no_employees'] = df['no_employees'].str.replace('More than 1000','1000+',regex=True)

In [41]:
df['no_employees'].unique()

array(['1-5', '100-500', '26-100', '1000+', '6-25', '500-1000'],
      dtype=object)

In [42]:
df['no_employees'] = df['no_employees'].map({'1-5':0,'100-500':3,'26-100':2,"1000+":5,'6-25':1,'500-1000':4})

In [43]:
df['no_employees'].value_counts()

no_employees
2    224
5    220
1    213
0    140
3    137
4     43
Name: count, dtype: int64

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 977 entries, 18 to 1258
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        977 non-null    int64
 1   Gender                     977 non-null    int64
 2   Country                    977 non-null    int64
 3   self_employed              977 non-null    int64
 4   family_history             977 non-null    int64
 5   treatment                  977 non-null    int64
 6   work_interfere             977 non-null    int64
 7   no_employees               977 non-null    int64
 8   remote_work                977 non-null    object
 9   tech_company               977 non-null    object
 10  benefits                   977 non-null    object
 11  care_options               977 non-null    object
 12  wellness_program           977 non-null    object
 13  seek_help                  977 non-null    object
 14  anonymity                  977 non-null    object
 15  leave                      977 non-null    object
 16  mental_health_consequence  977 non-null    object
 17  phys_health_consequence    977 non-null    object
 18  coworkers                  977 non-null    object
 19  supervisor                 977 non-null    object
 20  mental_health_interview    977 non-null    object
 21  phys_health_interview      977 non-null    object
 22  mental_vs_physical         977 non-null    object
 23  obs_consequence            977 non-null    object
dtypes: int64(8), object(16)
memory usage: 190.8+ KB

In [45]:
df['remote_work'].unique()

array(['Yes', 'No'], dtype=object)

In [46]:
df['remote_work'] = df['remote_work'].map({'Yes':1,'No':0})

In [47]:
df['remote_work'].value_counts()

remote_work
0    679
1    298
Name: count, dtype: int64

In [48]:
df['tech_company'].unique()

array(['Yes', 'No'], dtype=object)

In [49]:
df['tech_company'] = df['tech_company'].map({'Yes':1,'No':0})

In [50]:
df['benefits'].unique()

array(['Yes', 'No', "Don't know"], dtype=object)

In [51]:
df['benefits'] = df['benefits'].map({'Yes':1,'No':0,"Don't know":0})

In [52]:
df['care_options'].unique()

array(['Not sure', 'Yes', 'No'], dtype=object)

In [53]:
df['care_options'] = df['care_options'].map({'Not sure':0,'No':0,'Yes':1})

In [54]:
df['wellness_program'].unique()

array(['Yes', 'No', "Don't know"], dtype=object)

In [55]:
df['wellness_program'] = df['wellness_program'].map({'No':0,'Yes':1,"Don't know":0})

In [56]:
df['seek_help'].unique()

array(["Don't know", 'No', 'Yes'], dtype=object)

In [57]:
df['seek_help'] = df['seek_help'].map({'No':0,'Yes':1,"Don't know":0})

In [58]:
df['supervisor'].unique()

array(['Yes', 'Some of them', 'No'], dtype=object)

In [59]:
df['supervisor'] = df['supervisor'].map({'No':0,'Yes':1,"Some of them":0})

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 977 entries, 18 to 1258
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        977 non-null    int64
 1   Gender                     977 non-null    int64
 2   Country                    977 non-null    int64
 3   self_employed              977 non-null    int64
 4   family_history             977 non-null    int64
 5   treatment                  977 non-null    int64
 6   work_interfere             977 non-null    int64
 7   no_employees               977 non-null    int64
 8   remote_work                977 non-null    int64
 9   tech_company               977 non-null    int64
 10  benefits                   977 non-null    int64
 11  care_options               977 non-null    int64
 12  wellness_program           977 non-null    int64
 13  seek_help                  977 non-null    int64
 14  anonymity                  977 non-null    object
 15  leave                      977 non-null    object
 16  mental_health_consequence  977 non-null    object
 17  phys_health_consequence    977 non-null    object
 18  coworkers                  977 non-null    object
 19  supervisor                 977 non-null    int64
 20  mental_health_interview    977 non-null    object
 21  phys_health_interview      977 non-null    object
 22  mental_vs_physical         977 non-null    object
 23  obs_consequence            977 non-null    object
dtypes: int64(15), object(9)
memory usage: 190.8+ KB

In [61]:
df['anonymity'].unique()

array(['Yes', 'No', "Don't know"], dtype=object)

In [62]:
df['anonymity'] = df['anonymity'].map({'No':0,'Yes':1,"Don't know":0})

In [63]:
df['leave'].unique()

array(['Very easy', 'Somewhat difficult', "Don't know", 'Very difficult',
       'Somewhat easy'], dtype=object)

In [64]:
df['leave']= df['leave'].map({'Very easy':'easy','Somewhat difficult':'difficult','Somewhat easy':'easy','Very difficult':'difficult',"Don't know":'difficult'})

In [65]:
df['leave'].unique()

array(['easy', 'difficult'], dtype=object)

In [66]:
df['leave'] = df['leave'].map({'easy':1,'difficult':0})

In [67]:
df['leave'].value_counts()

leave
0    611
1    366
Name: count, dtype: int64

In [68]:
df['mental_health_consequence'].unique()

array(['No', 'Maybe', 'Yes'], dtype=object)

In [69]:
df['mental_health_consequence'] = df['mental_health_consequence'].map({'No':0,'Yes':1,"Maybe":0})

In [70]:
df['mental_health_interview'].unique()

array(['No', 'Maybe', 'Yes'], dtype=object)

In [71]:
df['mental_health_interview'] = df['mental_health_interview'].map({'No':0,'Yes':1,"Maybe":0})

In [72]:
df['mental_vs_physical'].unique()

array(['Yes', 'No', "Don't know"], dtype=object)

In [73]:
df['mental_vs_physical'] = df['mental_vs_physical'].map({'No':0,'Yes':1,"Don't know":0})

In [74]:
df['phys_health_consequence'].unique()

array(['No', 'Maybe', 'Yes'], dtype=object)

In [75]:
df['phys_health_consequence'] = df['phys_health_consequence'].map({'No':0,'Yes':1,"Maybe":0})

In [76]:
df['phys_health_consequence'].value_counts()

phys_health_consequence
0    921
1     56
Name: count, dtype: int64

In [77]:
df['phys_health_interview'].unique()

array(['Yes', 'No', 'Maybe'], dtype=object)

In [78]:
df['phys_health_interview'] = df['phys_health_interview'].map({'No':0,'Yes':1,"Maybe":0})

In [79]:
df['phys_health_interview'].value_counts()

phys_health_interview
0    825
1    152
Name: count, dtype: int64

In [80]:
df['coworkers'].unique()

array(['Yes', 'Some of them', 'No'], dtype=object)

In [81]:
df['coworkers']= df['coworkers'].map({'Some of them':1,'No':0,'Yes':1})

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 977 entries, 18 to 1258
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        977 non-null    int64
 1   Gender                     977 non-null    int64
 2   Country                    977 non-null    int64
 3   self_employed              977 non-null    int64
 4   family_history             977 non-null    int64
 5   treatment                  977 non-null    int64
 6   work_interfere             977 non-null    int64
 7   no_employees               977 non-null    int64
 8   remote_work                977 non-null    int64
 9   tech_company               977 non-null    int64
 10  benefits                   977 non-null    int64
 11  care_options               977 non-null    int64
 12  wellness_program           977 non-null    int64
 13  seek_help                  977 non-null    int64
 14  anonymity                  977 non-null    int64
 15  leave                      977 non-null    int64
 16  mental_health_consequence  977 non-null    int64
 17  phys_health_consequence    977 non-null    int64
 18  coworkers                  977 non-null    int64
 19  supervisor                 977 non-null    int64
 20  mental_health_interview    977 non-null    int64
 21  phys_health_interview      977 non-null    int64
 22  mental_vs_physical         977 non-null    int64
 23  obs_consequence            977 non-null    object
dtypes: int64(23), object(1)
memory usage: 190.8+ KB

In [83]:
for col in df.select_dtypes(include=['object']).columns:
    print(f"Unique values in '{col}': {df[col].unique()}")

Unique values in 'obs_consequence': ['Yes' 'No']

In [84]:
df['obs_consequence'].unique()

array(['Yes', 'No'], dtype=object)

In [85]:
df['obs_consequence']= df['obs_consequence'].map({'No':0,'Yes':1,"Maybe":0})

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 977 entries, 18 to 1258
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        977 non-null    int64
 1   Gender                     977 non-null    int64
 2   Country                    977 non-null    int64
 3   self_employed              977 non-null    int64
 4   family_history             977 non-null    int64
 5   treatment                  977 non-null    int64
 6   work_interfere             977 non-null    int64
 7   no_employees               977 non-null    int64
 8   remote_work                977 non-null    int64
 9   tech_company               977 non-null    int64
 10  benefits                   977 non-null    int64
 11  care_options               977 non-null    int64
 12  wellness_program           977 non-null    int64
 13  seek_help                  977 non-null    int64
 14  anonymity                  977 non-null    int64
 15  leave                      977 non-null    int64
 16  mental_health_consequence  977 non-null    int64
 17  phys_health_consequence    977 non-null    int64
 18  coworkers                  977 non-null    int64
 19  supervisor                 977 non-null    int64
 20  mental_health_interview    977 non-null    int64
 21  phys_health_interview      977 non-null    int64
 22  mental_vs_physical         977 non-null    int64
 23  obs_consequence            977 non-null    int64
dtypes: int64(24)
memory usage: 190.8 KB

In [87]:
df.shape

(977, 24)

In [88]:
df.dropna(inplace=True)

In [89]:
df.shape

(977, 24)

In [90]:
# Verify that missing values have been handled
print("Missing values after handling:")
display(df.isnull().sum()[df.isnull().sum() > 0])

Missing values after handling:

Series([], dtype: int64)

In [91]:
cleaned_df = df.copy()
cleaned_df.to_csv(r'C:\Users\HP\PW skills\SELF placed\Machine Learning\projects\Mini Hackathon!\data\processed\cleaned_data.csv',index=False)
print("Processed data saved to 'cleaned_data.csv'")

Processed data saved to 'cleaned_data.csv'